<nav class="navbar navbar-expand navbar-dark bg-header">

  <div class="navbar-brand pr-3">
    <img style="max-height: 4rem" src="../../../assets/image/uhealth_icon.png">
    {{pageTitle}}
  </div>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" *ngFor="let link of routeLinks$ | async">
      <a class="nav-link"
         [routerLink]="['/' + link]"
         routerLinkActive="active">{{link}}</a>
    </li>
  </ul>

</nav>

<div class="form-group m-2">
  <label for="input">Route URL</label>
  <input class="form-control"
         id="input"
         type="text"
         [(ngModel)]="input"
  />
</div>
<div class="form-row">
  <button class="btn btn-primary m-3"
          (click)="changeRoute()"
          type="button">Change route
  </button>
  <button class="btn btn-primary m-3"
          (click)="clean()"
          type="button">Home
  </button>
</div>

<router-outlet></router-outlet>

<!-- TODO dynamically add secondary outlets -->
<router-outlet name="p1"></router-outlet>
<router-outlet name="p2"></router-outlet>
<router-outlet name="p3"></router-outlet>
<router-outlet name="p4"></router-outlet>

